.fv h1{
    font-family:'Times New Roman', Times, serif
}
.jj{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.lc{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.lj{
    border-right: 20px black solid;
    padding-left: 20px;;
}